@font-face {
  font-family: 'Mabry';
  src: url('../public/fonts/Mabry-Pro-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('../public/fonts/cmunrm.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('../public/fonts/cmunbx.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../public/fonts/Inconsolata-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../public/fonts/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Unna';
  src: url('../public/fonts/Unna-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('../public/fonts/Unna-Bold.ttf');
  font-weight: bold;
}
